In [25]:
import pandas as pd
import matplotlib as plt
import seaborn as sns
import numpy as np
import pickle4

In [59]:
df = pd.read_csv('../data/cardata.csv')
df.head(30)

,Car_Name,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0
7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0
9,ciaz,2015,7.45,8.92,42367,Diesel,Dealer,Manual,0
10,alto 800,2017,2.85,3.60,2135,Petrol,Dealer,Manual,0
11,ciaz,2015,6.85,10.38,51000,Diesel,Dealer,Manual,0
12,ciaz,2015,7.50,9.94,15000,Petrol,Dealer,Automatic,0
13,ertiga,2015,6.10,7.71,26000,Petrol,Dealer,Manual,0
14,dzire,2009,2.25,7.21,77427,Petrol,Dealer,Manual,0
15,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
16,ertiga,2015,7.25,10.79,41678,Diesel,Dealer,Manual,0
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
18,wagon r,2015,3.25,5.09,35500,CNG,Dealer,Manual,0
19,sx4,2010,2.65,7.98,41442,Petrol,Dealer,Manual,0
20,alto k10,2016,2.85,3.95,25000,Petrol,Dealer,Manual,0
21,ignis,2017,4.90,5.71,2400,Petrol,Dealer,Manual,0
22,sx4,2011,4.40,8.01,50000,Petrol,Dealer,Automatic,0
23,alto k10,2014,2.50,3.46,45280,Petrol,Dealer,Manual,0
24,wagon r,2013,2.90,4.41,56879,Petrol,Dealer,Manual,0
25,swift,2011,3.00,4.99,20000,Petrol,Dealer,Manual,0
26,swift,2013,4.15,5.87,55138,Petrol,Dealer,Manual,0
27,swift,2017,6.00,6.49,16200,Petrol,Individual,Manual,0
28,alto k10,2010,1.95,3.95,44542,Petrol,Dealer,Manual,0
29,ciaz,2015,7.45,10.38,45000,Diesel,Dealer,Manual,0

In [60]:
df.info(show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Driven_kms     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Selling_type   301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [61]:
df['Selling_Price'] = df['Selling_Price'].astype('float16')
df['Present_Price'] = df['Present_Price'].astype('float16')

In [62]:
df['Year'] = df['Year'].astype('int8')
df['Driven_kms'] = df['Driven_kms'].astype('int8')
df['Owner'] = df['Owner'].astype('int8')

In [64]:
cat_features = df.select_dtypes(include=['object']).columns.to_list()
cat_features

['Car_Name', 'Fuel_Type', 'Selling_type', 'Transmission']

In [66]:
for col in cat_features:
    print(f'Unique categories in {col}: {df[col].value_counts()}')

Unique categories in Car_Name: Car_Name
city                        26
corolla altis               16
verna                       14
fortuner                    11
brio                        10
                            ..
Honda CB Trigger             1
Yamaha FZ S                  1
Bajaj Pulsar 135 LS          1
Activa 4g                    1
Bajaj Avenger Street 220     1
Name: count, Length: 98, dtype: int64
Unique categories in Fuel_Type: Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64
Unique categories in Selling_type: Selling_type
Dealer        195
Individual    106
Name: count, dtype: int64
Unique categories in Transmission: Transmission
Manual       261
Automatic     40
Name: count, dtype: int64

In [67]:
sns.lineplot(df, x='Fuel_Type', y='Selling_Price', label='area', ax=axs[1,1])

NameError: name 'aggregated_df' is not defined